name: Add PDF to Release and update Zenodo

on:
  release:
    types: [created]

env:
  PDF_NAME: access-output-data-specifications-${{ github.event.release.tag_name }}.pdf
  ZENODO_RECORD_ID: 18167024

jobs:
  add-pdf-to-release:
    name: Add PDF to Release and Zenodo
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12.3

      - name: Install dependancies
        run: python -m pip install mkdocs mkdocs-with-pdf requests

      - name: Checkout source
        uses: actions/checkout@v5

      - name: Set version in mkdocs.yaml
        run: sed -i -e "s/{release_version}/${{ github.event.release.tag_name }}/g" ./mkdocs.yaml

      - name: make-docs
        run: mkdocs build

      - name: rename-pdf
        run: mv ./site/pdf/document.pdf ./site/pdf/$PDF_NAME

      - name: Authenticate GitHub CLI
        run: echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
        
      - name: Upload Release Files
        run: gh release upload ${{ github.event.release.tag_name }} ./site/pdf/$PDF_NAME

      - name: Update Zenodo Version and Files
        run: |
          python ./scripts/zenodo_update.py \
            --access-token "${{ secrets.ZENODO_TOKEN }}" \
            --version "${{ github.event.release.tag_name }}" \
            --id "$ZENODO_RECORD_ID" \
            --files ./site/pdf/$PDF_NAME \
            --production \
            --draft \
            --verbose
