name: Add PDF to Release

on:
  release:
    types: [created]

jobs:
  add-pdf-to-release:
    name: Add PDF to Release
    runs-on: ubuntu-latest
    steps:
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12.3

      - name: Install dependancies
        run: python -m pip install mkdocs mkdocs-with-pdf

      - name: Checkout source
        uses: actions/checkout@v5

      - name: make-docs
        run: mkdocs build

      - name: rename-pdf
        run: mv ./site/pdf/document.pdf ./site/pdf/access-output-data-specifications.pdf

      - name: list-files
        run: ls -R

      - name: Authenticate GitHub CLI
        run: echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
        
      - name: Upload Release Files
        run: gh release upload ${{ github.event.release.tag_name }} ./site/pdf/access-output-data-specifications.pdf